@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.filter {
    display: flex;
    align-items: center;
    border: $desctop1px solid rgba(255, 255, 255, 0.1);
    border-radius: $desctop30px;
    width: fit-content;
    height: $desctop45px;
    position: relative;

    @media only screen and (max-width: 499px) {
        border: $mobile1px solid rgba(255, 255, 255, 0.1);
        border-radius: $mobile30px;
        height: $mobile44px;
        width: 100%;
    }

    &__allFilters {
        display: flex;
        align-items: center;
        padding-left: $desctop24px;
        border-right: $desctop1px solid rgba(255, 255, 255, 0.1);
        height: 100%;
        cursor: pointer;
        position: relative;
        min-width: 9.9vw;
        z-index: 10;

        @media only screen and (max-width: 499px) {
            padding-left: $mobile15px;
            border-right: $mobile1px solid rgba(255, 255, 255, 0.1);
            width: 35%;
            min-width: inherit;
        }

        &:hover {
            .filter__allFilters_text {
                color: $redColor;
            }

            .filter__allFilters_arrowDown {
                transform: rotate(180deg);

                path {
                    fill: $redColor;
                }
            }

            .filter__allFilters_menu {
                transition: transform 0.4s;
                opacity: 1;
                user-select: auto;
                pointer-events: auto;
                transform: translateY(0);
            }
        }

        &_text {
            font-family: $Montserrat500;
            font-size: $desctop13px;
            line-height: $desctop24px;
            color: $whiteColor;
            margin-right: auto;
            transition: all 0.25s;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile24px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        &_arrowDown {
            width: $desctop8px;
            height: $desctop5px;
            margin: 0 $desctop19px;
            transition: all 0.25s;

            @media only screen and (max-width: 499px) {
                width: $mobile7px;
                height: $mobile5px;
                margin: 0 $mobile10px;
            }
        }

        &_menu {
            position: absolute;
            left: 0;
            right: 0;
            top: 3.05vw;
            background: $whiteColor;
            border: $desctop1px solid rgba(36, 36, 68, 0.1);
            border-radius: $desctop17px;
            padding: $desctop10px $desctop20px;
            min-width: 8vw;
            opacity: 0;
            user-select: none;
            pointer-events: none;
            transform: translateY(0.5vw);

            @media only screen and (max-width: 499px) {
                border: $mobile1px solid rgba(36, 36, 68, 0.1);
                border-radius: $mobile17px;
                padding: $mobile10px;
                top: 11.8vw;
                min-width: 35%;
            }

            li {
                font-family: $Montserrat500;
                font-size: $desctop13px;
                line-height: $desctop19px;
                color: $bunkerColor;
                cursor: pointer;
                transition: color 0.25s;
                padding: $desctop4px 0;

                @media only screen and (max-width: 499px) {
                    font-size: $mobile13px;
                    line-height: $mobile19px;
                    padding: $mobile5px 0;
                }

                &:hover {
                    color: $redColor;
                }
            }
        }
    }

    &__inputtWrapper {
        display: flex;
        height: 100%;

        @media only screen and (max-width: 499px) {
            width: 65%;
        }

        &_input {
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            padding-left: $desctop19px;
            font-family: $Montserrat500;
            font-size: $desctop13px;
            line-height: $desctop24px;
            color: $whiteColor;

            @media only screen and (max-width: 499px) {
                padding: 0 $mobile5px 0 $mobile10px;
                font-size: $mobile13px;
                line-height: $mobile24px;
            }

            &::placeholder {
                font-family: $Montserrat500;
                font-size: $desctop13px;
                line-height: $desctop24px;
                color: $whiteColor;
                opacity: 0.3;

                @media only screen and (max-width: 499px) {
                    font-size: $mobile13px;
                    line-height: $mobile24px;
                }
            }
        }
    }
}
