@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.container {
    display: flex;
    min-height: 100vh;
    background-color: $blueGradient;

    @media only screen and (max-height: 700px) {
        min-height: 62.5vw;
    }

    @media only screen and (max-width: 499px) {
        min-height: inherit;
    }
}

.form {
    padding: 0 $desctop100px;
    margin: auto 0;

    @media only screen and (max-width: 499px) {
        padding: 0 $mobile15px;
    }

    &__title {
        font-family: $Montserrat500;
        font-size: $desctop45px;
        line-height: $desctop45px;
        color: $whiteColor;
        margin-bottom: $desctop20px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile30px;
            line-height: $mobile30px;
            margin-bottom: $mobile15px;
        }
    }

    &__subTitle {
        font-family: $Montserrat500;
        font-size: $desctop19px;
        line-height: 145%;
        color: $whiteColor;
        margin-bottom: $desctop35px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile16px;
            margin-bottom: $mobile25px;
        }
    }

    &__inputContainer {
        margin-top: $desctop25px;
        position: relative;

        @media only screen and (max-width: 499px) {
            margin-top: $mobile15px;
        }

        &_icon {
            width: $desctop26px;
            height: $desctop26px;

            @media only screen and (max-width: 499px) {
                width: $mobile26px;
                height: $mobile26px;
            }
        }

        &_iconError {
            filter: drop-shadow(0px 4px 4px rgba(250, 72, 104, 0.45));
            path {
                fill: $redColor;
            }
        }
    }

    &__error {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: -1.3vw;

        @media only screen and (max-width: 499px) {
            bottom: -5.3vw;
            align-items: flex-end;
        }

        &_icon {
            width: $desctop16px;
            height: $desctop16px;
            margin-right: $desctop10px;

            @media only screen and (max-width: 499px) {
                width: $mobile16px;
                height: $mobile16px;
                margin-right: $mobile7px;
            }

            path {
                fill:$redColor;
            }
        }

        &_text {
            font-family: $Montserrat500;
            font-size: $desctop13px;
            color: $whiteColor;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
            }
        }
    }
}

.buttonWrapper {
    display: flex;
    align-items: center;
    margin: $desctop50px 0;

    @media only screen and (max-width: 499px) {
        flex-direction: column;
        margin: $mobile50px 0 0;
    }

    &__rightSide {

        @media only screen and (max-width: 499px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &_link {
            display: inline-block;
            font-family: $Montserrat500;
            font-size: $desctop19px;
            line-height: 145%;
            color: $redColor;
            text-decoration: none;
            border-bottom: $desctop1px solid $redColor;
            margin-left: $desctop5px;

            &:hover {
                color: $whiteColor;
            }

            @media only screen and (max-width: 499px) {
                font-size: $mobile14px;
                border-bottom: $mobile1px solid $redColor;
                margin-left: $mobile5px;
            }
        }
    }

    &__button {
        @include transparentButton;
        text-transform: uppercase;
        margin-right: $desctop50px;

        @media only screen and (max-width: 499px) {
            width: 100%;
            margin: 0  0 $mobile15px 0;
        }

        &_text {
            @media only screen and (max-width: 499px) {
                margin-top: 1.3vw;
            }
        }
    }
}
