@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $desctop80px;
    padding: 0 $desctop30px 0 $desctop135px;
    position: relative;
    z-index: 2;

    @media only screen and (max-width: 499px) {
        height: $mobile70px;
        padding: 0 $mobile20px 0 $mobile20px;
    }

    &__leftSide,
    &__rightSide {
        display: flex;
        align-items: center;
    }

    &__rightSide {
        @media only screen and (max-width: 499px) {
            display: none;
        }

        &_margin {
            margin: 0 $desctop10px;
        }
    }

    &__logo {
        margin-right: $desctop35px;

        &_img {
            width: $desctop70px;
            height: $desctop27px;

            @media only screen and (max-width: 499px) {
                width: $mobile70px;
                height: $mobile28px;
            }
        }

        &_ticker {
            font-family: $HelveticaNeue500;
            color: $whiteColor;
            font-size: $desctop10px;
            letter-spacing: $desctop1px;
            text-transform: uppercase;
            margin-top: $desctop3px;

            @media only screen and (max-width: 499px) {
                font-size: $mobile10px;
                margin-top: $mobile2px;
                letter-spacing: $mobile1px;
            }
        }

        &_price {
            font-size: $desctop11px;
            color: $redColor;

            @media only screen and (max-width: 499px) {
                font-size: $mobile10px;
            }
        }
    }

    &__links {
        display: flex;
        align-items: center;

        &_item {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-right: $desctop50px;
            }
        }

        &_item>* {
            font-family: $Montserrat500;
            color: $whiteColor;
            font-size: $desctop10px;
            letter-spacing: $desctop1px;
            text-transform: uppercase;

            &:hover {
                color: $redColor;
            }
        }
    }

    &__login {
        display: flex;
        align-items: center;
        margin-right: $desctop40px;

        &:hover>* {
            transition: all 0.2s;

            color: $redColor;

            path {
                fill: $redColor;
            }
        }

        &>* {
            font-family: $Montserrat500;
            color: $whiteColor;
            font-size: $desctop10px;
            letter-spacing: $desctop1px;
            text-transform: uppercase;
        }

        &_icon {
            width: $desctop17px;
            height: $desctop17px;
            margin-right: $desctop9px;
        }
    }

    &__linksWrapper {
        @media only screen and (max-width: 499px) {
            display: none;
        }
    }
}
