@import '../assets/styles/variables';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    @media only screen and (max-width: 499px) {
        position: absolute;
        right: $desctop50px;
        top: 50%;
        transform: translateY(calc(-50% - 14vw));
    }

    &__hideOnDesctop {
        display: none;

        @media only screen and (max-width: 499px) {
            display: flex;
        }
    }

    &:hover {
        .container__lang {
            color: $redColor;
        }
    }

    &__flagIcon {
        width: $desctop22px;
        height: $desctop22px;
        border: $desctop2px solid rgba(241, 241, 241, 0.4);
        border-radius: 50%;
        box-sizing: content-box;

        @media only screen and (max-width: 499px) {
            width: $mobile21px;
            height: $mobile21px;
        }
    }

    &__lang {
        font-family: $Montserrat900;
        font-size: $desctop10px;
        letter-spacing: $desctop1px;
        color: $whiteColor;
        text-transform: uppercase;
        position: absolute;
        transform: rotate(-90deg);
        bottom: -1.5vw;
        margin-left: $desctop1px;
        user-select: none;
        transition: all 0.2s;

        @media only screen and (max-width: 499px) {
            font-size: $mobile10px;
            letter-spacing: $mobile1px;
            bottom: -12.5vw;
            margin-left: $mobile1px;
            color: $tolopeaColor;
        }
    }
}
