@import '../assets/styles/variables';
@import '../assets/styles/reset.scss';
@import '~antd/dist/antd.css';

html {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow-y: overlay;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    font-family: $Montserrat500;
    min-height: 100vh;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// remove arrows for input type number

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

// custom scrollbar

::-webkit-scrollbar {
    width: 0.7vw;
}

::-webkit-scrollbar-track {
    background: #19192D;
}

::-webkit-scrollbar-thumb {
    background: $ghostColor;
    border-radius: 2.5vw;
}

::-webkit-scrollbar-thumb:hover {
    background: $slateGreyColor;
}

// custom scrollbar

// hide transparent on focus
input:focus::-webkit-input-placeholder {
    color: transparent;
}

// hide transparent on focus

.ant-message span {
    font-family: $Montserrat500;
    color: $tolopeaColor;
    font-size: $desctop14px;
    z-index: 9999999;

    @media only screen and (max-width: 499px) {
        font-size: 3.5vw;
    }
}

// remove input number arrows firefox
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

// remove input number arrows firefox

// react-notification

.react-notification-root {
    top: 0;
}

.notification-item {
    border-left: none !important;
}

#root .notification-item .notification-message,
.notification-item .notification-title {
    font-size: 1.2vw;

    @media only screen and (max-width: 499px) {
        font-size: 5vw !important;
    }
}

#root .react-notification-root {
    z-index: 999999999;

    .notification-content {
        min-height: 4.24vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .notification-default {
        border-left: 8px solid #2a1f84;
    }

    .notification-success {
        border-left: 8px solid #96df6a;
    }
}

.notification-message,
.notification-title {
    font-family: $Montserrat500;
}

// react-notification

select {
    @media only screen and (max-width: 499px) {
        font-size: 50px;
    }
}

// change autofill background totransparent

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $whiteColor !important;
}

// change autofill background totransparent

/* FF, IE7+, chrome (except button) */

input[type='file'],
input[type='file']::-webkit-file-upload-button {
    cursor: pointer;
}

// ant checkbox

.ant-checkbox {

    input[type='radio'],
    input[type='checkbox'] {
        width: $desctop16px;
        height: $desctop16px;

        @media only screen and (max-width: 499px) {
            width: $mobile16px;
            height: $mobile16px;
        }
    }

    .ant-checkbox-inner {
        width: $desctop16px;
        height: $desctop16px;
        border: $desctop1px solid $whiteColor;
        border-radius: 50%;
        background-color: transparent;

        @media only screen and (max-width: 499px) {
            width: $mobile16px;
            height: $mobile16px;
            border: $mobile1px solid $whiteColor;
        }
    }
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: $redColor;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
    border: $desctop1px solid $redColor;

    @media only screen and (max-width: 499px) {
        border: $mobile1px solid $redColor;
    }
}

.ant-checkbox-wrapper {
    display: flex;
    align-items: center;
}

.ant-checkbox-checked::after {
    border: none;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
    border: 0.13vw solid #fff;
    border-top: 0;
    border-left: 0;
    top: 44%;
    left: 24%;
    width: 0.3vw;
    height: 0.65vw;

    @media only screen and (max-width: 499px) {
        border: $mobile2px solid #fff;
        border-top: 0;
        border-left: 0;
        width: $mobile6px;
        height: 3vw;
        top: 43%;
        left: 22%;
    }
}

.ant-checkbox+span {
    padding: 0 0 0 $desctop10px;
    top: -0.09em;
    position: relative;

    @media only screen and (max-width: 499px) {
        padding: 0 0 0 $mobile10px;
    }
}

// ant checkbox

// ant drawer

.drawer {
    &__vectorIcon {
        position: absolute;
        right: 0;
        z-index: 1;
        width: 77.78vw;
        height: 111.112vw;
    }

    &__closeIcon {
        width: $mobile20px;
        height: $mobile20px;
        padding: $mobile17px;
        box-sizing: content-box;
    }

    #aside {
        @media only screen and (max-width: 499px) {
            display: block;
            width: 100%;
            padding: $mobile10px 0 0 $mobile17px;
            position: relative;
            z-index: 2;
            background: transparent;
        }
    }

    .ant-drawer-body {
        padding: 0 $mobile17px $mobile17px 0;
        height: 100vh;
        overflow: auto;
        background: $zirconColor;
    }
}

// ant drawer

// react-notification

.react-notification-root {
    top: 0;
}

.notification-item {
    border-left: none !important;
}

#root .react-notification-root {
    z-index: 999999999;

    .notification-content {
        min-height: 4.24vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .notification-default {
        border-left: 8px solid #2a1f84;
    }

    .notification-success {
        border-left: 8px solid #29ad4e;
    }
}

.notification-message,
.notification-title {
    font-family: $Montserrat500;
}

// react-notification


// wallet-countdown

#root .wallet-countdown {
    position: absolute;
    top: -4.1vw;
    right: 0;
    border: $desctop2px solid $zirconColor;
    border-radius: 1.8vw;
    padding: $desctop26px $desctop26px;
    width: 21.39vw;

    @media only screen and (max-width: 499px) {
        position: static;
        width: 100%;
        margin-bottom: 30px;
        border: $mobile2px solid $zirconColor;
        border-radius: $mobile25px;
        padding: $mobile20px 7vw;
    }

    &__title {
        font-family: $Montserrat500;
        font-size: $desctop18px;
        line-height: 140%;
        letter-spacing: 0.225em;
        color: $tolopeaColor;
        text-transform: uppercase;
        margin: 0 0 1.7vw 0;
        text-align: center;

        @media only screen and (max-width: 499px) {
            font-size: $mobile12px;
            margin-bottom: $mobile10px;
            line-height: 150%;
        }
    }

    span {
        font-family: $Montserrat500;
        font-size: $desctop36px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $redColor;
        letter-spacing: 0.5vw;
        transform: translateX(0.3vw);

        @media only screen and (max-width: 499px) {
            font-size: $mobile24px;
        }
    }
}

// wallet-countdown

// tooltip
.ant-tooltip {
    max-width: 255px;
}

.ant-tooltip-inner {
    background-color: #313162;
    font-family: "Montserrat500", Arial, Helvetica, sans-serif;
}

.ant-tooltip-placement-top .ant-tooltip-arrow,
.ant-tooltip-placement-topLeft .ant-tooltip-arrow,
.ant-tooltip-placement-topRight .ant-tooltip-arrow {
    border-top-color: #313162;
}

.ant-tooltip-arrow::before {
    background-color: #313162;
}

// tooltip

header #selectLangeage div:hover {
    color: #fff;
}


#header #selectLangeage img {
    @media only screen and (max-width: 499px) {
        margin-right: 4vw;
    }
}

#login #footer {
    @media only screen and (max-width: 499px) {
        display: none;
    }
}


// highcharts

.highcharts-background {
    fill: transparent;
}

.highcharts-root,
.highcharts-container  {
    overflow: visible !important;
    width: 28vw;
}

.highcharts-root > * {
    font-family: $Montserrat500 !important;
}

.highcharts-container text {
    font-size: $desctop11px !important;
    line-height: $desctop24px !important;
    fill: $blackColor !important;
    text-align: right;
}

// highcharts
