@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $desctop80px;
    padding: 0 $desctop30px 0 $desctop135px;
    position: relative;
    background: $blueGradient;

    @media only screen and (max-width: 499px) {
        height: $mobile70px;
        padding: 0 $mobile20px 0 $mobile20px;
    }

    &__leftSide,
    &__rightSide {
        display: flex;
        align-items: center;
    }

    &__rightSide {
        @media only screen and (max-width: 499px) {
            display: none;
        }

        &_margin {
            margin: 0 $desctop10px;
        }
    }

    &__logo {
        margin-right: $desctop10px;

        &_img {
            width: $desctop70px;
            height: $desctop27px;

            @media only screen and (max-width: 499px) {
                width: $mobile70px;
                height: $mobile28px;
            }
        }

        &_ticker {
            font-family: $HelveticaNeue500;
            color: $whiteColor;
            font-size: $desctop10px;
            letter-spacing: $desctop1px;
            text-transform: uppercase;
            margin-top: $desctop3px;
            white-space: nowrap;

            @media only screen and (max-width: 499px) {
                font-size: $mobile10px;
                margin-top: $mobile2px;
                letter-spacing: $mobile1px;
            }
        }

        &_price {
            font-size: $desctop11px;
            color: $redColor;

            @media only screen and (max-width: 499px) {
                font-size: $mobile10px;
            }
        }
    }

    &__links {
        display: flex;
        align-items: center;

        &_item {
            display: flex;
            align-items: center;
            margin-right: $desctop28px;
        }

        &_item > * {
            font-family: $Montserrat500;
            color: $whiteColor;
            font-size: $desctop10px;
            letter-spacing: $desctop1px;
            text-transform: uppercase;

            &:hover {
                color: $redColor;
            }
        }
    }

    &__login {
        display: flex;
        align-items: center;
        margin: 0 $desctop15px 0 0;
        white-space: nowrap;

        &:hover > * {
            transition: all 0.2s;

            color: $redColor;
            path {
                fill: $redColor;
            }
        }

        & > * {
            font-family: $Montserrat500;
            color: $whiteColor;
            font-size: $desctop10px;
            letter-spacing: $desctop1px;
            text-transform: uppercase;
        }

        &_icon {
            width: $desctop17px;
            height: $desctop17px;
            margin-right: $desctop9px;
        }
    }

    &__linksWrapper {
        @media only screen and (max-width: 499px) {
            display: none;
        }
    }

    &__burgerMenu {
        display: none;

        @media only screen and (max-width: 499px) {
            display: flex;
        }
    }
}

.filter {
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        height: 100%;
        outline: none;
        width: $desctop63px;
        cursor: pointer;
        transition: all 0.25s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__searchIcon {
        width: $desctop14px;
        height: $desctop14px;
    }

    &__input {
        min-width: 22.46vw;
    }
}

.drawer__opened,
.drawer__closed {
    background: #f2f2f2;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: $mobile70px;
    left: 0;
    padding-top: 5.34vw;
    z-index: 100;
    transition: transform 1s ease, top 1s ease;
}

.drawer__opened {
    transform: translateX(0);
}

.drawer__closed {
    transform: translateX(150vw);
}
