@import "../../assets/styles/variables";
@import "../../assets/styles/mixin.scss";

.button {
    @include mainBtnStyle;
    position: relative;

    &__loading {
        user-select: none;
        pointer-events: none;
    }

    &__disabled {
        opacity: 0.3;
        user-select: none;
        pointer-events: none;
    }
}
