@import '../../assets/styles/variables';
@import '../../assets/styles/mixin.scss';

.button {
    @include mainBtnStyle;
    position: relative;

    &__loading {
        user-select: none;
        pointer-events: none;
    }

    &__disabled {
        user-select: none;
        pointer-events: none;
        background: #f7f8f8;
        color: rgba(108, 113, 126, 0.45);
    }
}
