@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.firstScreen {
    background: $blueGradient;
    height: 31.25vw;
    position: relative;

    &__vector1,
    &__vector2 {
        position: absolute;
    }

    &__vector1 {
        right: 10vw;
        bottom: 3vw;
        width: 33.5vw;
        height: 21.6vw;
        z-index: 1;
    }

    &__vector2 {
        left: 0;
        bottom: 0;
        width: 28.264vw;
        height: 16.25vw;
    }

    &__title {
        font-family: $Montserrat900;
        font-size: $desctop24px;
        color: $whiteColor;
        margin-bottom: $desctop24px;
        padding-left: $desctop14px;

        span {
            color: $redColor;
        }
    }

    &__subTitle {
        font-family: $Montserrat500;
        font-size: $desctop12px;
        line-height: $desctop24px;
        color: $whiteColor;
        padding-left: $desctop14px;
        margin-top: $desctop32px;

        a {
            color: $redColor;

            &:hover {
                color: $redColor;
                text-decoration: underline;
            }
        }
    }

    &__container {
        padding: 6.5vw $desctop148px $desctop124px;
    }
}

.filter {
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $redColor;
        border-radius: $desctop32px;
        border: none;
        height: 100%;
        outline: none;
        width: $desctop63px;
        cursor: pointer;
        transition: all 0.25s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__searchIcon {
        width: $desctop14px;
        height: $desctop14px;
    }

    &__input {
        min-width: 30vw;
    }
}
