@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.burgerMenu {
    display: none;

    @media only screen and (max-width: 499px) {
        display: block;
        transform: translateX($mobile10px);
    }
}

.linksWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 13vw));
}

.links {

    &_item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $mobile32px;
    }

    &_item>* {
        font-family: $Montserrat500;
        color: $tolopeaColor;
        font-size: $mobile10px;
        letter-spacing: $mobile1px;
        text-transform: uppercase;

        &:hover {
            color: $redColor;
        }
    }

    &_subLinks {
        display: none;
    }
}

.login {
    display: flex;
    align-items: center;
    margin-right: $mobile10px;

    &:hover>* {
        transition: all 0.2s;
        color: $redColor;

        path {
            fill: $redColor;
        }
    }

    &>* {
        font-family: $Montserrat500;
        color: $tolopeaColor;
        font-size: $mobile10px;
        letter-spacing: $mobile1px;
        text-transform: uppercase;
    }

    &_icon {
        width: $mobile17px;
        height: $mobile17px;
        margin-right: $mobile10px;

        path {
            fill: $tolopeaColor;
        }
    }
}

.drawer__opened,
.drawer__closed {
    display: none;

    @media only screen and (max-width: 499px) {
        display: block;

        background: $whiteSmokeColor;
        height: calc(100vh - 19vw);
        width: 100vw;
        position: absolute;
        top: $mobile70px;
        left: 0;
        transition: transform 0.5s;
        z-index: 100;
    }
}

.drawer__opened {
    transform: translateX(0);
}

.drawer__closed {
    transform: translateX(150vw);
}
