@import "../../assets/styles/variables";

@mixin mainBtnStyle {
    cursor: pointer;
    font-family: $Montserrat500;
    font-size: $desctop18px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    padding: $desctop17px $desctop30px;
    min-width: 13.334vw;
    height: $desctop60px;
    outline: none;

    @media only screen and (max-width: 499px) {
        font-size: $mobile16px;
        line-height: 120%;
        padding: $mobile5px $mobile30px;
        height: $mobile50px;
    }
}

@mixin transparentButton {
    border: $desctop2px solid $redColor;
    box-sizing: border-box;
    border-radius: $desctop25px;
    transition: all 0.25s;
    color: $tolopeaColor;
    background: transparent;

    @media only screen and (max-width: 499px) {
        border: $mobile2px solid $redColor;
        border-radius: $mobile20px;
    }

    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.1vw;
        height: 2.1vw;

        @media only screen and (max-width: 499px) {
            width: $mobile30px;
            height: $mobile30px;
        }

        svg {
            width: $desctop30px;
            height: $desctop30px;
            fill: $redColor;

            @media only screen and (max-width: 499px) {
                width: $mobile30px;
                height: $mobile30px;
            }
        }
    }

    &:hover {
        color: #fff;
        background: $redColor;
        border: $desctop2px solid $redColor;
        box-shadow: 0px 15px 15px -12px rgba(250, 72, 104, 0.35);

        @media only screen and (max-width: 499px) {
            border: $mobile2px solid $redColor;
        }

        span {
            svg {
                fill: #fff;
            }
        }

        svg {
            path {
                fill: #fff;
            }
        }
    }
}

@mixin filledButton {
    border: $desctop2px solid $redColor;
    box-sizing: border-box;
    border-radius: $desctop25px;
    transition: all 0.25s;
    color: #fff;
    background: $redColor;;

    @media only screen and (max-width: 499px) {
        border: $mobile2px solid $redColor;
        border-radius: $mobile20px;
    }

    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.1vw;
        height: 2.1vw;

        @media only screen and (max-width: 499px) {
            width: $mobile30px;
            height: $mobile30px;
        }

        svg {
            width: $desctop30px;
            height: $desctop30px;
            fill: $redColor;

            @media only screen and (max-width: 499px) {
                width: $mobile30px;
                height: $mobile30px;
            }
        }
    }

    &:hover {
        color: $redColor;
        background: transparent;
        border: $desctop2px solid $redColor;
        box-shadow: 0px 15px 15px -12px rgba(250, 72, 104, 0.35);

        @media only screen and (max-width: 499px) {
            border: $mobile2px solid $redColor;;
        }

        span {
            svg {
                fill: $redColor;
            }
        }

        svg {
            path {
                fill: $redColor;
            }
        }
    }
}
