@import "../../assets/styles/variables";

@mixin mainBtnStyle {
    cursor: pointer;
    font-family: $Montserrat500;
    font-size: $desctop10px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: $desctop1px;
    outline: none;

    @media only screen and (max-width: 499px) {
        font-size: $mobile10px;
        line-height: 120%;
    }
}

@mixin transparentButton {
    border: $desctop2px solid $whiteColor;
    box-sizing: border-box;
    border-radius: $desctop25px;
    transition: all 0.25s;
    color: $tolopeaColor;
    background: transparent;

    @media only screen and (max-width: 499px) {
        border: $mobile2px solid $whiteColor;
        border-radius: $mobile20px;
    }

    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.1vw;
        height: 2.1vw;

        @media only screen and (max-width: 499px) {
            width: $mobile30px;
            height: $mobile30px;
        }

        svg {
            width: $desctop30px;
            height: $desctop30px;
            fill: $redColor;

            @media only screen and (max-width: 499px) {
                width: $mobile30px;
                height: $mobile30px;
            }
        }
    }

    &:hover {
        color: #fff;
        background: $redColor;
        border: $desctop2px solid $redColor;

        @media only screen and (max-width: 499px) {
            border: $mobile2px solid $redColor;
        }

        span {
            svg {
                fill: #fff;
            }
        }

        svg {
            path {
                fill: #fff;
            }
        }
    }
}

@mixin filledButton {
    border-radius: $desctop32px;
    transition: all 0.25s;
    color: #fff;
    background: $redColor;
    border: none;

    @media only screen and (max-width: 499px) {
        border: $mobile2px solid $redColor;
        border-radius: $mobile20px;
    }

    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.1vw;
        height: 2.1vw;

        @media only screen and (max-width: 499px) {
            width: $mobile30px;
            height: $mobile30px;
        }

        svg {
            width: $desctop30px;
            height: $desctop30px;
            fill: $redColor;

            @media only screen and (max-width: 499px) {
                width: $mobile30px;
                height: $mobile30px;
            }
        }
    }

    &:hover {
        background: rgba(255, 48, 21, 0.5);
    }
}
